html, body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0;
	background-color: #fafafa;
	color: #222;
}

.bt-settings-trigger {
	font-family: 'Lora', 'Book Antiqua', Palatino, serif;
	z-index: 3;
	position: fixed;
	top: 0;
	right: 0;
	padding: 15px;
	font-size: 2em;
	border: 0px !important;
	cursor: pointer;
}

.bt-settings-trigger a {
	border-bottom: 1px solid transparent;
	color: #f5f5f5 !important;
	font-weight: bold;
	text-shadow: 0px 0px 2px #999;
	-webkit-transition: text-shadow .25s;
	transition: text-shadow .25s;
}

.bt-settings-trigger:hover a {
	border-bottom: 1px solid transparent;
	text-shadow: 0px 0px 4px #999;
	border-bottom: 0px;
	-webkit-transition: text-shadow .25s;
	transition: text-shadow .25s;
}

.settings-menu {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 100%;
	background-color: #444;
}

.settings-content {
	width: 100%;
	padding: 60px 10px;
	height: 100%;
	position: relative;
	display: none;
}

#topBar {
	display: none;
}

h1 {
	font-size: 2em;
	margin: 10px 0px;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	clear: both;
}

form {
	margin: 20px 0px;
}

h3 {
	margin: 5px 0px;
	font-size: 1.5em;
}

p {
	text-align: justify;
	font-size: 1em;
	font-weight: 300;
}

header,
footer {
	position: relative;
	width: 100%;
	background-image: url('../img/cloud.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

header {
	height: 60%;
}

header.profile {
	height: 40%;
	background-image: url('../img/bicycle.jpg');
}

header.sign-in {
	height: 40%;
	background-image: url('../img/book.jpg');
}

header.collection {
	height: 40%;
	background-image: url('../img/collection.jpg');
}

header.list {
	height: 40%;
	background-image: url('../img/library.jpg');
}

header.contact {
	height: 40%;
	background-image: url('../img/library.jpg');
}

footer {
	height: 40%;
}

footer.contact {
	height: 60%;
	background-image: url('../img/library.jpg');
}

header:before, header:after,
section:after {
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	background: #fafafa;
	z-index: 0;
	-webkit-transform: translateY(-30px) rotate(45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	transform: translateY(-30px) rotate(45deg);
}

header:before {
	top: 100%;
	left: calc(50% - 25px);
}

header:after {
	top: 100%;
	left: calc(50% + 25px);
}

section:after {
	left: 50%;
}

.white {
	background: #fafafa;
	width: calc(50% - 25px);
	height: 30px;
	position: absolute;
	bottom: 0;
}

.white.left {
	left: 0;
}

.white.right {
	right: 0;
}

header .title {
	position: absolute;
	bottom: 0px;
	color: #fafafa;
	font-weight: 800;
	font-size: 2.8em;
	padding: 60px 20%;
	width: 100%;
	text-shadow: 0px 0px 20px rgba(0,0,0,.6);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header .title .collection-title {
	color: #fafafa;
	font-weight: 800;
	font-size: .6em;
	padding: 30px 0px;
	width: 100%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

footer .next {
	color: #fafafa;
	font-weight: 800;
	font-size: 2.8em;
	padding: 40px 20%;
	width: 100%;
	text-shadow: 0px 0px 20px rgba(0,0,0,.6);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-transition: color .5s;
	transition: color .5s;
}

a.for-footer {
	border: 0px !important;
}

footer .title {
	color: #fafafa;
	font-weight: 800;
	font-size: 2.2em;
	padding: 0px 20%;
	width: 100%;
	text-shadow: 0px 0px 20px rgba(0,0,0,.6);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-transition: color .5s;
	transition: color .5s;
}

footer .see-collection {
	color: #fafafa;
	font-weight: 800;
	font-size: 2.8em;
	padding: 100px 20%;
	width: 100%;
	text-shadow: 0px 0px 20px rgba(0,0,0,.9);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-transition: color .5s;
	transition: color .5s;
}

footer:hover {
	cursor: pointer;
}

footer:hover .next,
footer:hover .title,
footer:hover .see-collection {
	color: rgba(255,255,255,.6);
	-webkit-transition: color .5s;
	transition: color .5s;
}

.progress {
	z-index: 2;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 2px;
	background-color: rgb(255, 143, 0);
	-webkit-transition: width .25s;
	transition: width .25s;
}

.opaque {
	opacity: .5;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}

.hidden {
	display: none;
}

section {
	position: relative;
	width: 100%;
	z-index: 1;
}

article {
	padding: 0px 20% 45px 20%;
}

ul {
	list-style: none;
}

.list li {
	position: relative;
	padding: 20px 0px;
}

.list li:after {
	width: 100%;
	height: 1px;
	margin-top: 18px;
	background-color: #ddd;
	position: absolute;
	content: '';
	-webkit-box-shadow: 0px 0px 10px rgba(50,50,50,.2);
		 -moz-box-shadow: 0px 0px 10px rgba(50,50,50,.2);
					box-shadow: 0px 0px 10px rgba(50,50,50,.2);
}

code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.list li:last-child:after {
	display: none;
}

.profile {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.profile h1,
.full-profile h1 {
	margin: 40px 0px;
}

.profile img {
	width: 85px;
	border-radius: 50px;
}

.profile .info {
	position: absolute;
	height: 100%;
	top: 0px;
	display: inherit;
	padding: 10px 20px;
}

.profile .info p {
	font-size: 1em !important;
}

.profile .info p {
	margin: 0;
}

.full-profile {
	margin: 0 auto;
	position: relative;
}

.full-profile img {
	position: absolute;
	width: 128px;
	border-radius: 64px;
	margin: 0;
}

.full-profile h1 {
	font-size: 2.5em;
	margin: 10px 0px 0px 160px;
	border: 0px;
}

.full-profile h3 {
	font-weight: 300;
	font-size: 1.5em;
	padding-left: 160px;
	margin: 10px 0px;
}

.full-profile h3 span:after {
	content: ' · ';
}

.full-profile h3 span:last-child:after {
	content: '';
}

.full-profile:after {
	width: 100%;
	height: 1px;
	bottom: -50px;
	background-color: #ddd;
	position: absolute;
	left: 0px;
	content: '';
	-webkit-box-shadow: 0px 0px 10px rgba(50,50,50,.15);
		 -moz-box-shadow: 0px 0px 10px rgba(50,50,50,.15);
					box-shadow: 0px 0px 10px rgba(50,50,50,.15);
}

a,
a:visited,
a:active,
a:link {
	text-decoration: none;
	border: 1px solid transparent;
	color: rgba(41, 128, 185, 1);
	-webkit-transition: color .5s, border .5s;
	transition: color .5s, border .5s;
}

a:hover {
	color: rgba(41, 128, 185, .7);
	border-bottom: 1px solid rgba(41, 128, 185, .7);
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.light {
	color: #f5f5f5;
	border-bottom: 1px solid transparent;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.light:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.dark {
	color: #222;
	border-bottom: 1px solid transparent;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.dark:hover {
	color: #444;
	border-bottom: 1px solid #444;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.twitter,
a.gplus {
	font-size: 2em;
}

div.sign-in li {
	text-align: center;
	padding: 20px 0px;
}

a.twitter:hover {
	color: #4099ff;
	border-bottom: 1px solid #4099ff;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

a.gplus:hover {
	color: #d34836;
	border-bottom: 1px solid #d34836;
	-webkit-transition: color .25s, border .25s;
	transition: color .25s, border .25s;
}

.input label {
	display: block;
	font-weight: 400;
	color: rgba(50,50,50,1);
	border-left: 5px solid rgba(41, 128, 185, .4);
	padding: 5px 15px;
	-webkit-transition: border .25s, color .25s;
	transition: border .25s, color .25s;
}

.input label:hover {
	color: rgba(41, 128, 185, .7);
	border-left: 5px solid rgba(41, 128, 185, .7);
	-webkit-transition: border .25s, color .25s;
	transition: border .25s, color .25s;
}

.input input,
.input textarea,
.input button,
.input select {
	font-family: 'Open Sans', sans-serif;
	margin: 20px 0px;
	padding: 10px;
	border: 0px;
	border-radius: 10px;
	width: 350px;
	font-size: 1em;
	font-weight: 300;
	-webkit-box-shadow: 0px 0px 10px rgba(50,50,50,.1);
		 -moz-box-shadow: 0px 0px 10px rgba(50,50,50,.1);
					box-shadow: 0px 0px 10px rgba(50,50,50,.1);
}

.input textarea {
	width: 450px;
	height: 100px;
}

.input select {
	background-color: #fff;
}

.input button {
	width: auto;
	margin: 0px;
	background-color: #2980b9;
	color: #fafafa;
	font-weight: 400;
	cursor: pointer;
}

div.collection {
	border-left: 5px solid #eee;
	padding: 10px 40px;
	-webkit-transition: border .25s;
	transition: border .25s;
}

div.collection:hover {
	border-left: 10px solid #ddd;
	-webkit-transition: border .25s;
	transition: border .25s;
}

.collection .title {
	font-size: 2em;
	font-weight: 700;
}

.collection .description {
	font-size: 1.2em;
	font-weight: 300;
	color: #777;
}

.collection .data .posts:before {
	content: ' · ';
}

.collection .data .posts {
	margin-top: 5px;
	font-size: 1em;
	font-weight: 300;
	color: #777;
}

.warning {
	border-left: 5px solid #c0392b;
	padding: 10px 40px;
	-webkit-transition: border .25s, background-color .25s;
	transition: border .25s, background-color .25s;
	cursor: pointer;
	border-radius: 15px;
	margin: 15px 0px 0px 0px;
}

.warning:hover {
	border-left: 10px solid #e74c3c;
	background-color: #f0f0f0;
	-webkit-transition: border .25s, background-color .25s;
	transition: border .25s, background-color .25s;
}

.message {
	border-left: 5px solid #f1c40f;
	padding: 10px 40px;
	-webkit-transition: border .25s, background-color .25s;
	transition: border .25s, background-color .25s;
	border-radius: 15px;
	margin: 15px 0px 0px 0px;
}

.message:hover {
	border-left: 10px solid #f39c12;
	background-color: #f0f0f0;
	-webkit-transition: border .25s, background-color .25s;
	transition: border .25s, background-color .25s;
}

.warning p {
	margin: 0;
}

#settings {
	display: none;
	padding: 10px 50px;
}

#settings .controls {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#settings .sample:before {
	height: 100%;
	width: 1px;
	left: -15%;
	background-color: #ddd;
	position: absolute;
	top: 0px;
	content: '';
	-webkit-box-shadow: 0px 0px 10px rgba(50,50,50,.15);
		 -moz-box-shadow: 0px 0px 10px rgba(50,50,50,.15);
					box-shadow: 0px 0px 10px rgba(50,50,50,.15);
}

#settings .sample {
	width: 58%;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.slider {
	margin: 20px 0px;
}

#profile nav {
	margin: 80px 0px 0px 0px;
}

#profile nav ul {
	padding: 0px;
}

#profile nav li {
	font-size: 1.5em;
	color: rgba(50,50,50,1);
	border-left: 5px solid rgba(41, 128, 185, .4);
	padding: 5px 15px;
	-webkit-transition: border .25s, color .25s;
	transition: border .25s, color .25s;
	cursor: pointer;
}

#profile nav li:hover {
	color: rgba(41, 128, 185, .7);
	border-left: 5px solid rgba(41, 128, 185, .7);
	-webkit-transition: border .25s, color .25s;
	transition: border .25s, color .25s;
}

#write-post {
	padding: 10px 5%;
}

#write-post .post-left {
	width: 50%;
	display: inline-block;
}

#write-post .post-left #post-area,
#write-post .post-right #post-preview {
	width: 100%;
	height: 400px;
	font-family: 'Open Sans', sans-serif;
	margin: 20px 0px;
	padding: 10px;
	border: 0px;
	border-radius: 10px;
	font-size: 1em;
	font-weight: 300;
	-webkit-box-shadow: 0px 0px 10px rgba(50,50,50,.1);
		 -moz-box-shadow: 0px 0px 10px rgba(50,50,50,.1);
					box-shadow: 0px 0px 10px rgba(50,50,50,.1);
	background-color: #fff;
	overflow: auto;
}

#write-post .post-right #post-preview {
	background-color: transparent;
}

#write-post .post-right {
	padding-left: 20px;
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

.postContent img {
	width: 100%;
}

.postContent h1 {
	font-size: 2em;
}

.postContent h2 {
	font-size: 1.7em;
}

.postContent h3 {
	font-size: 1.5em;
}

.postContent h4 {
	font-size: 1.3em;
}

.postContent h5 {
	font-size: 1.2em;
}

.postContent h6 {
	font-size: 1.1em;
}

.postContent h1,
.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6,
.postContent p,
.postContent em {
	font-family: 'Lora', 'Book Antiqua', Palatino, serif;
	letter-spacing: .01rem;
	line-height: 1.5;
}

.postContent h1,
.postContent h2 {
	border-bottom: 1px solid #ccc;
}